<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item logo" title="EclipseStore" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
      	<svg
   version="1.1"
   x="0px"
   y="0px"
   width="126.5"
   height="38.1755"
   viewBox="0 0 126.5 38.1755"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
   id="defs93" />
<style
   type="text/css"
   id="style2">
	.st0{fill:#2E2D2C;}
	.st1{fill:#D62125;}
	.st2{fill:#FFFFFF;}
	.st3{opacity:0.35;fill:#B21A22;}
</style>
  <g
    fill="grey"
    transform="scale(1.1 1.1)">
<g
   id="g66"
   transform="matrix(0.23575416,0,0,0.23575416,-2.8458686,-9.5801887)">
	<path
   class="st1"
   d="M 149.05203,187.84477 H 72.36266 c -2.94196,0 -5.3269,-2.38493 -5.3269,-5.3269 V 45.96329 c 0,-2.94197 2.38493,-5.3269 5.3269,-5.3269 h 76.68938 c 2.94197,0 5.3269,2.38494 5.3269,5.3269 v 136.55457 c 0,2.94198 -2.38494,5.32691 -5.32691,5.32691 z"
   id="path54" />
	<rect
   x="67.035759"
   y="66.049477"
   class="st2"
   width="87.343193"
   height="17.62557"
   id="rect56" />
	<rect
   x="67.035812"
   y="149.9933"
   class="st2"
   width="87.343132"
   height="17.62557"
   id="rect58" />
	<path
   class="st3"
   d="m 86.39558,40.63635 h -14.0329 c -2.94196,0 -5.3269,2.38495 -5.3269,5.3269 v 136.55463 c 0,2.94189 2.38495,5.3269 5.3269,5.3269 h 14.0329 z"
   id="path60" />
	<path
   class="st3"
   d="m 149.05208,40.63635 h -0.77856 v 147.20844 h 0.77856 c 2.94189,0 5.3269,-2.38501 5.3269,-5.3269 V 45.96326 c 0,-2.94196 -2.38501,-5.32691 -5.3269,-5.32691 z"
   id="path62" />
	<path
   class="st1"
   d="m 190.76643,98.70068 c -8.11926,0 -15.00049,5.23651 -17.4939,12.51025 h -125.201 c -2.49341,-7.27374 -9.37469,-12.51025 -17.4939,-12.51025 -10.2207,0 -18.50629,8.28552 -18.50629,18.50629 0,10.2207 8.28558,18.50623 18.50629,18.50623 8.15491,0 15.06317,-5.28149 17.52863,-12.60522 h 125.13148 c 2.46545,7.32373 9.37378,12.60522 17.52869,12.60522 10.2207,0 18.50623,-8.28552 18.50623,-18.50623 0,-10.22076 -8.28552,-18.50629 -18.50623,-18.50629 z"
   id="path64" />
</g><g
   id="g569"
   transform="matrix(0.30057401,0,0,0.30057401,12.875992,9.8340304)"><g
     id="g52"
     transform="translate(117.46692,-202.55441)">
	<g
   id="g24">
		<path
   class="st0"
   d="m 14.03174,217.41914 c -1.83203,-1.64844 -3.40723,-1.75879 -4.10303,-1.75879 -0.76953,0 -1.72217,0.11035 -2.38135,0.84277 -0.3667,0.36621 -0.62305,0.91602 -0.62305,1.53906 0,0.58594 0.18311,1.02539 0.54932,1.35547 0.58643,0.5498 1.4292,0.76953 3.07764,1.39258 l 1.83203,0.69531 c 1.0625,0.40332 2.38135,0.95312 3.3335,1.86914 1.4292,1.35547 1.79541,3.11328 1.79541,4.54297 0,2.52734 -0.87939,4.72559 -2.16162,6.04492 -2.16162,2.27148 -5.31201,2.49121 -6.92432,2.49121 -1.7583,0 -3.29736,-0.25684 -4.83594,-1.02637 C 2.34473,234.78535 0.91602,233.64961 0,232.7336 l 2.93115,-4.03027 c 0.62256,0.62305 1.61182,1.46582 2.27148,1.86816 0.95215,0.58594 1.94141,0.87988 3.07715,0.87988 0.73291,0 1.75879,-0.14648 2.56445,-0.84277 0.47656,-0.40332 0.87939,-1.0625 0.87939,-1.97852 0,-0.80566 -0.32959,-1.31934 -0.84277,-1.75879 -0.65918,-0.5498 -2.16162,-1.09863 -2.85742,-1.35547 l -2.01514,-0.69629 c -1.13574,-0.40234 -2.45459,-0.91602 -3.40723,-1.94141 -1.28223,-1.35547 -1.46533,-3.07715 -1.46533,-4.25 0,-2.16113 0.65967,-3.99316 2.125,-5.49512 1.72168,-1.75879 3.77344,-2.23535 6.04492,-2.23535 1.68506,0 4.39648,0.29297 7.25391,2.41797 z"
   id="path4" />
		<path
   class="st0"
   d="m 32.01855,211.44746 c 2.12451,0 4.46924,0.29297 6.41113,2.01465 2.08838,1.83203 2.38135,4.25 2.38135,5.93555 0,3.07715 -1.17236,4.7998 -2.08838,5.75195 -1.94141,1.97852 -4.50635,2.16113 -6.22803,2.16113 h -3.44385 v 8.57324 h -5.64209 v -24.43652 z m -2.96777,11.24707 h 2.01514 c 0.76904,0 2.125,-0.0361 3.04053,-0.91602 0.51318,-0.5127 0.91602,-1.35547 0.91602,-2.41797 0,-1.02539 -0.36621,-1.86816 -0.91602,-2.38086 -0.84229,-0.80566 -2.05127,-0.91602 -3.15039,-0.91602 h -1.90527 v 6.63087 z"
   id="path6" />
		<path
   class="st0"
   d="m 54.76807,211.44746 c 3.11377,0 5.05566,1.02637 6.22803,2.125 1.02588,0.98926 2.125,2.74805 2.125,5.45898 0,1.53809 -0.33008,3.44336 -1.90527,4.98242 -0.84277,0.80566 -2.05176,1.53906 -3.40723,1.86816 l 7.51074,10.00195 h -6.8877 l -6.59473,-9.63574 v 9.63574 h -5.64209 v -24.43652 h 8.57325 z m -2.93116,11.10059 h 1.28223 c 1.02588,0 2.41797,-0.10938 3.37061,-1.0625 0.40283,-0.40234 0.91602,-1.17188 0.91602,-2.38086 0,-1.39258 -0.65967,-2.125 -1.13574,-2.49121 -0.91602,-0.69629 -2.38135,-0.76953 -3.11426,-0.76953 h -1.31885 v 6.7041 z"
   id="path8" />
		<path
   class="st0"
   d="m 76.01562,211.44746 v 24.43652 h -5.64209 v -24.43652 z"
   id="path10" />
		<path
   class="st0"
   d="m 83.30518,235.88399 v -24.43652 h 4.90918 l 13.2627,15.75391 v -15.75391 h 5.6416 v 24.43652 h -4.90918 L 88.94776,220.05684 v 15.82715 z"
   id="path12" />
		<path
   class="st0"
   d="m 126.05811,222.54805 h 12.12695 v 0.25684 c 0,2.96777 -1.0625,7.47363 -3.77344,10.29492 -2.71094,2.82129 -5.8252,3.33398 -8.71973,3.33398 -2.93066,0 -6.08203,-0.47656 -8.93945,-3.40723 -1.42871,-1.46582 -3.58984,-4.43359 -3.58984,-9.30566 0,-3.99316 1.46484,-7.18066 3.5166,-9.26953 3.00391,-3.11328 6.70508,-3.55371 9.59863,-3.55371 2.01562,0 4.58008,0.33008 6.85156,1.83203 1.64844,1.09961 3.07715,2.82129 3.95605,4.35938 l -5.0918,2.74805 c -0.47656,-0.95215 -1.20898,-1.94141 -2.16211,-2.6377 -1.09863,-0.80566 -2.34473,-1.17188 -3.73633,-1.17188 -2.23535,0 -3.88379,0.73242 -5.05566,1.97754 -1.35645,1.42871 -2.08887,3.51758 -2.08887,5.78906 0,2.78418 1.02637,4.5791 2.05176,5.60547 1.42871,1.46484 3.07715,1.90527 4.94629,1.90527 2.41797,0 3.7002,-0.84277 4.24902,-1.31934 0.18359,-0.14648 1.28223,-1.09863 1.75879,-2.89453 h -5.89844 v -4.54296 z"
   id="path14" />
		<path
   class="st0"
   d="m 144.70361,211.44746 h 4.98242 c 2.45508,0 5.93555,0.25684 9.0127,2.85742 2.23535,1.86914 4.17676,4.98242 4.17676,9.37891 0,5.12891 -2.52734,7.87695 -4.28613,9.37891 -2.23535,1.90527 -4.58008,2.82129 -8.93945,2.82129 h -4.94629 v -24.43653 z m 2.71192,21.87207 h 2.38086 c 1.94141,0 4.61621,-0.21973 6.99805,-2.19824 1.83105,-1.53906 3.29688,-3.95703 3.29688,-7.4375 0,-5.86133 -4.10352,-9.67188 -10.29492,-9.67188 h -2.38086 v 19.30762 z"
   id="path16" />
		<path
   class="st0"
   d="m 181.33838,228.99629 h -10.4043 l -2.93164,6.8877 h -3.00391 l 11.24707,-25.6084 10.95508,25.6084 h -3.00488 z m -1.0625,-2.56445 -4.10352,-9.78223 -4.17578,9.78223 z"
   id="path18" />
		<path
   class="st0"
   d="m 195.00342,214.01192 v 21.87207 h -2.71094 v -21.87207 h -5.93555 v -2.56445 h 14.58105 v 2.56445 z"
   id="path20" />
		<path
   class="st0"
   d="m 216.43408,228.99629 h -10.4043 l -2.93164,6.8877 h -3.00391 l 11.24707,-25.6084 10.95508,25.6084 h -3.00488 z m -1.0625,-2.56445 -4.10352,-9.78223 -4.17578,9.78223 z"
   id="path22" />
	</g>
	<g
   id="g50">
		<path
   class="st0"
   d="M 13.72705,258.97089 H 5.97266 v 4.52148 h 7.37207 v 4.55566 H 5.97266 v 5.1875 h 7.75439 v 4.55664 H 0.61719 v -23.37791 h 13.10986 z"
   id="path26" />
		<path
   class="st0"
   d="m 36.57129,277.05585 c -2.05127,1.05176 -3.7207,1.26172 -5.11182,1.26172 -4.27734,0 -7.16357,-1.47168 -9.11084,-3.39941 -2.08643,-2.0332 -3.6167,-5.11719 -3.6167,-8.86719 0,-3.68066 1.53027,-6.76465 3.6167,-8.79785 2.05176,-1.99803 5.04248,-3.36424 8.65869,-3.36424 1.53027,0 3.30371,0.31543 5.56396,1.29688 v 6.23827 c -1.18213,-1.26172 -2.95557,-2.48828 -5.4248,-2.48828 -1.94727,0 -3.51221,0.63086 -4.729,1.82227 -1.28711,1.26172 -2.19092,3.1543 -2.19092,5.39746 0,2.41895 0.97363,4.13574 2.0166,5.15234 0.48682,0.49121 2.15625,1.96289 5.00781,1.96289 1.39111,0 3.26904,-0.38574 5.32031,-2.41797 v 6.20311 z"
   id="path28" />
		<path
   class="st0"
   d="m 47.93945,254.41426 v 18.82127 h 7.19824 v 4.55664 H 42.58398 v -23.37791 z"
   id="path30" />
		<path
   class="st0"
   d="m 65.35889,254.41426 v 23.37791 h -5.35498 v -23.37791 z"
   id="path32" />
		<path
   class="st0"
   d="m 80.44922,254.41426 c 2.01709,0 4.24268,0.28027 6.08594,1.92772 1.98193,1.75195 2.26025,4.06543 2.26025,5.67773 0,2.94434 -1.11328,4.5918 -1.98242,5.50293 -1.84277,1.89258 -4.27734,2.06836 -5.91162,2.06836 h -3.26855 v 8.20117 h -5.35547 v -23.37791 z m -2.81641,10.75975 h 1.9126 c 0.72998,0 2.0166,-0.0352 2.88623,-0.87598 0.48682,-0.49023 0.86914,-1.29688 0.86914,-2.31348 0,-0.98145 -0.34766,-1.78711 -0.86914,-2.27832 -0.7998,-0.77051 -1.94727,-0.87598 -2.99072,-0.87598 h -1.80811 z"
   id="path34" />
		<path
   class="st0"
   d="m 105.86572,260.12714 c -1.73828,-1.57715 -3.23438,-1.68262 -3.89453,-1.68262 -0.73047,0 -1.63477,0.10547 -2.26074,0.80664 -0.34766,0.35059 -0.59082,0.87598 -0.59082,1.47168 0,0.56152 0.17383,0.98145 0.52148,1.29688 0.55664,0.52637 1.35645,0.73633 2.9209,1.33203 l 1.73926,0.66602 c 1.00781,0.38574 2.25977,0.91113 3.16406,1.78711 1.35645,1.29688 1.7041,2.97949 1.7041,4.34668 0,2.41797 -0.83496,4.52148 -2.05176,5.7832 -2.05176,2.17285 -5.04199,2.38281 -6.57227,2.38281 -1.66895,0 -3.12988,-0.24512 -4.59082,-0.98145 -1.18164,-0.5957 -2.53809,-1.68164 -3.40723,-2.55859 l 2.78125,-3.85547 c 0.5918,0.59668 1.53027,1.40234 2.15625,1.78809 0.9043,0.56055 1.84375,0.84082 2.9209,0.84082 0.69629,0 1.66992,-0.13965 2.43457,-0.80566 0.45215,-0.38574 0.83496,-1.0166 0.83496,-1.89258 0,-0.77148 -0.31348,-1.26172 -0.7998,-1.68262 -0.62598,-0.52539 -2.05176,-1.05176 -2.71289,-1.29688 l -1.91211,-0.66602 c -1.07812,-0.38574 -2.33008,-0.87598 -3.23438,-1.85742 -1.2168,-1.29688 -1.39062,-2.94434 -1.39062,-4.06543 0,-2.06836 0.62598,-3.82129 2.0166,-5.25781 1.63477,-1.6826 3.58203,-2.13768 5.73828,-2.13768 1.59961,0 4.17285,0.28027 6.88477,2.31248 z"
   id="path36" />
		<path
   class="st0"
   d="m 127.87549,258.97089 h -7.75488 v 4.52148 h 7.37305 v 4.55566 h -7.37305 v 5.1875 h 7.75488 v 4.55664 h -13.11035 v -23.37791 h 13.11035 z"
   id="path38" />
		<path
   class="st0"
   d="m 144.77295,259.0412 c -0.3125,-0.63184 -0.83496,-1.33203 -1.35645,-1.75293 -0.45215,-0.35059 -1.28613,-0.80566 -2.60742,-0.80566 -2.2959,0 -3.89551,1.43652 -3.89551,3.60938 0,0.91113 0.24414,1.4375 0.87012,2.0332 0.69531,0.70117 1.56445,1.08594 2.43359,1.47168 l 2.22559,0.98145 c 1.35645,0.5957 2.6084,1.22656 3.58203,2.20801 1.18262,1.19238 1.66895,2.55859 1.66895,4.24121 0,4.31152 -3.16406,7.18555 -7.33691,7.18555 -1.53027,0 -3.44336,-0.31543 -5.04297,-1.89258 -1.14746,-1.12207 -1.84277,-2.73438 -2.15625,-4.13672 l 2.50391,-0.7002 c 0.17383,1.22656 0.73047,2.27832 1.3916,2.97852 1.00781,1.0166 2.15527,1.29688 3.33789,1.29688 3.16504,0 4.66016,-2.27832 4.66016,-4.62598 0,-1.05176 -0.31348,-1.96289 -1.14746,-2.73438 -0.66113,-0.63086 -1.56543,-1.05078 -2.78223,-1.6123 l -2.08691,-0.98145 c -0.90332,-0.41992 -2.05078,-0.91113 -3.09473,-1.92773 -1.00781,-0.98145 -1.59961,-2.06738 -1.59961,-3.82031 0,-3.60938 2.74707,-6.02831 6.50293,-6.02831 1.42578,0 2.57324,0.28027 3.7207,1.05176 0.93945,0.63086 1.73926,1.57713 2.26074,2.59373 z"
   id="path40" />
		<path
   class="st0"
   d="m 156.66357,256.86737 v 20.9248 h -2.57324 v -20.9248 h -5.63281 v -2.45311 h 13.83984 v 2.45311 z"
   id="path42" />
		<path
   class="st0"
   d="m 163.30322,266.1203 c 0,-6.97461 5.39062,-12.09178 12.06738,-12.09178 6.67676,0 12.06641,5.11717 12.06641,12.09178 0,6.94043 -5.35449,12.09277 -12.06641,12.09277 -6.71192,0 -12.06738,-5.15234 -12.06738,-12.09277 z m 2.64356,0 c 0,5.36328 4.20801,9.63867 9.42383,9.63867 5.21582,0 9.42383,-4.27539 9.42383,-9.63867 0,-5.3623 -4.20801,-9.6377 -9.42383,-9.6377 -5.21582,0 -9.42383,4.2754 -9.42383,9.6377 z"
   id="path44" />
		<path
   class="st0"
   d="m 195.8833,254.41426 c 1.56445,0 3.89453,0.10547 5.63281,1.29688 1.35645,0.91112 2.53906,2.69823 2.53906,5.18748 0,3.5752 -2.33008,6.20312 -5.84277,6.44922 l 7.37305,10.44434 h -3.12988 L 195.396,267.5578 h -0.66016 v 10.23438 h -2.57422 v -23.37791 h 3.72168 z m -1.14746,10.83006 h 1.63379 c 3.19922,0 5.1123,-1.54199 5.1123,-4.27539 0,-1.29688 -0.38281,-2.59375 -1.84375,-3.43555 -1.04297,-0.5957 -2.22559,-0.66602 -3.33789,-0.66602 h -1.56445 z"
   id="path46" />
		<path
   class="st0"
   d="m 221.64893,256.86737 h -9.45801 v 6.94043 h 9.17969 v 2.45312 h -9.17969 v 9.07812 h 9.45801 v 2.45312 H 209.6167 v -23.37791 h 12.03223 z"
   id="path48" />
	</g>
</g><g
     id="g478"
     transform="translate(55.17325,-25.735745)">
	<path
   class="st0"
   d="M 68.01991,9.35942 62.8168,0 h 2.44161 L 69.26967,7.29589 73.39731,0 h 2.44161 l -5.31921,9.35942 5.60986,10.02815 h -2.44161 l -4.44724,-7.96462 -4.50543,7.96462 h -2.44162 z"
   id="path470"
   style="fill:#2e2d2c" />
	<path
   class="st0"
   d="m 90.66145,0 h 3.95308 c 1.94744,0 4.70894,0.20323 7.15055,2.26677 1.77317,1.48279 3.31358,3.95336 3.31358,7.44121 0,4.06973 -2.00563,6.24964 -3.40072,7.44121 -1.77316,1.51175 -3.63347,2.23838 -7.09237,2.23838 H 90.66144 V 0 Z m 2.15097,17.35299 h 1.88925 c 1.5407,0 3.6627,-0.17428 5.55196,-1.74393 1.45328,-1.22109 2.61618,-3.1393 2.61618,-5.90108 0,-4.65047 -3.25568,-7.6734 -8.16814,-7.6734 h -1.88925 z"
   id="path472"
   style="fill:#2e2d2c" />
	<path
   class="st0"
   d="m 130.7139,2.03458 h -7.90615 v 5.75519 h 7.67368 v 2.03458 h -7.67368 v 7.52864 h 7.90615 v 2.03458 H 120.65679 V 0 h 10.05711 z"
   id="path474"
   style="fill:#2e2d2c" />
	<path
   class="st0"
   d="M 146.40868,0 151.87322,14.795 157.33774,0 h 2.38371 L 151.87321,20.55019 144.02496,0 Z"
   id="path476"
   style="fill:#2e2d2c" />
</g></g></g></svg>
      </a>
	  {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://xdev.software/">XDEV</a>
      </div>
    </div>
  </nav>
</header>
